.container {
  margin: auto;
  padding: 4rem 22px;
}

.container > article {
  max-width: 669px;
  margin: auto;
  margin-bottom: 80px;
}

.container > section {
  margin: auto;
}

.header {
  display: flex;
  flex-direction: column;
  margin-bottom: 4rem !important;
  max-width: 500px;
}

.header h1 {
  max-width: 380px;
}

.header h4 {
  font-weight: 600;
  color: rgba(255, 255, 255, 0.7);
  max-width: 380px;
}

.headerSmall h2:hover {
  cursor: pointer;
  text-decoration: underline;
}

.headerSmall {
  margin-top: 3rem;
  margin-bottom: 5rem;
}

@media (min-width: 1024px) {
  .container h1 {
    font-size: 72px;
  }
}
