.preview {
  margin-bottom: 2em;
  position: relative;
}

.cover {
  margin-bottom: 1.25rem;
  height: 0;
  position: relative;
  padding-bottom: 44%;
  overflow: hidden;
  border-radius: 24px;
  border: 1px solid rgba(178, 178, 178, 0.2);
  background-color: #000;
}

.date {
  margin-bottom: 1rem;
}

.preview h3 {
  font-size: 24px;
  margin-bottom: 1em;
}

@media (min-width: 770px) {
.preview:hover > .framebackground {
  cursor: pointer;
  opacity: 1;
}
}

.framebackground {
  position: absolute;
  pointer-events: none;
  right: -200px;
  top: -20px;
  opacity: 0;
  transition: opacity ease 300ms;
}

