.text { 
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}


.text h1,
.text h2,
.text h3,
.text h4,
.text h5 {
  margin-block: 2rem 0.7rem;
  margin-inline: 0;
}

.text p {
  margin-bottom: 1rem;
  line-height: 28px;
  font-weight: 600;
  color: rgba(255, 255, 255, 0.7);
}

.text a {
  color: #28A1FD;
  font-weight: 500;
}

.text a:hover {
  text-decoration: underline;
}

.text pre {
  margin-bottom: 1rem;
}


