.container {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
}

.title {
  margin-bottom: 2rem;
}

@media (min-width: 768px) {

  .container {
  }

}

@media (min-width: 1024px) {
   .container {
  }
}
