.background {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.backgroundImage {
  height: 100% !important;
}

.container {
  overflow-x: hidden;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.overviewContainer {
  width: 100%;
  overflow: hidden;
}

.section {
  width: 100%;
  padding-bottom: 150px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section2 {
  padding-bottom: 0;
  background-color: #000;
}

.sectionHero {
  padding-top: max(8em, 20vmin);
  padding-bottom: 200px;
}

.sectionContent {
  position: relative; 
  max-width: 1024px;
  padding: 0 16px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sectionPlaceholder {
  display: flex;
  justify-content: center;
}

.sectionTitle {
  font-size: 72px;
  font-weight: 700;
  color: white;
}

.sectionTitle2 {
  font-size: 42px;
  font-weight: 700;
  color: var(--color-text);
  text-align: center;
  margin-bottom: 16px;
  max-width: 360px;
}

.sectionSubtitle {
  font-size: 24px;
  max-width: 302px;
  color: var(--color-text-secondary);
  margin-bottom: 18px;
}

.sectionSubtitle2 {
  font-size: 18px;
  color: var(--color-text-secondary);
  text-align: center;
  max-width: 480px;
  font-weight: 600;
  margin-bottom: 48px;
}

.section strong {
  color: var(--color-text);
}

.tag {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  border: solid 1px rgba(255, 255, 255, 0.2);
  border-radius: 100px;
  margin-bottom: 18px;
  font-weight: 600;
}

.taglight {
  composes: tag;
  color: #000;
  border: solid 1px rgba(0, 0, 0, 0.2);
}

.tagplanned {
  composes: tag;
  color: #239BFA; 
  border: solid 1px #239BFA;
}

.tagprogress {
  composes: tag;
  color: #C279FE; 
  border: solid 1px #C279FE;
}

.tagcomplete {
  composes: tag;
  color: #71D142; 
  border: solid 1px #71D142;
}

.tagspace {
  display: flex;
  justify-content: center;
  padding-top: 11px;
}

.headline {
  font-size: 36px;
  color: var(--color-text-secondary);
  max-width: 569px;
  margin: auto;
  text-align: center;
}

.sectionCard {
  max-width: 980px;
  margin: auto;
  min-height: 650px;
  position: relative;
  background-color: rgba(120, 120, 120, 0.2);
  backdrop-filter: saturate(180%) blur(20px);
  border-radius: 30px;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.cardContent {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 70px;
  padding-top: 143px;
}

.cardImg {
  display: flex;
  flex-direction: column;
  flex: 1;
  background-color: #000;
  height: 650px;
  width: 420px;
}

.objectFit {
   object-fit: cover;
}


.sectionParagraph {
  max-width: 17em;
  margin-bottom: 2em;
  font-size: 1.2em;
  line-height: 1.42;
}

.sectionBg {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  top: -200px;
}

.backgroundLogo {
  position: absolute;
  top: 240px;
}

.cardTitle {
  font-size: 2em;
  font-weight: 600;
  margin-bottom: 0.5em;
  max-width: 340px;
}

.footer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.stripe {
  position: relative;
  height: 100%;
  width: 100%;
  top: 200px;
  left: 0;
  transform: skewY(-4deg);
  background-color: #1310BB;
  box-shadow: 0 0 80px #1310BB;
}

.topStripe {
  position: absolute;
  height: 90%;
  width: 100%;
  top: calc(5% + 240px);
  left: 0;
  transform: skewY(-8deg);
  background-color: #030B1C;
  box-shadow: 0 0 80px #FF4D50;
}

.article {
  position: relative;
  max-width: 980px;
  margin: auto;
  padding-top: 200px;
  padding-bottom: 200px;
}

.articleHeader {
  font-size: 2em;
  font-weight: 600;
  color: white;
  line-height: 1.1;
  padding: 0 40px;
}

.articleBody {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 40px;
}

.articleItem {
  width: 41%;
  margin-top: 98px;
}

.articleItem h3 {
  font-size: 1.8em;
  font-weight: 600;
  line-height: 1.125;
  margin-bottom: .5em;
}

.articleItem p {
  margin-bottom: 1rem;
}

.articleItem a {
  color: #28A1FD;
}

.logo {
  display: inline-block;
  position: relative;
  top: 18px;
  height: 88px;
  width: 88px;
}

.titleRow {
  display: flex;
  align-items: center;
}

.titleRow svg {
  margin-bottom: 1em;
  margin-right: 1em;
}

.titleRow span {
  font-size: 2rem;
  margin-bottom: 0.2em;
  margin-right: 0.5em;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  font-size: inherit;
  font-family: inherit;
  border: none;
  appearance: none;
  color: var(--color-text);
  font-weight: 600;
  height: 42px;
  padding-left: 24px;
  padding-right: 24px;
  border-radius: 100px;
  background-color: var(--color-accent);
  cursor: pointer;
  text-align: center;
  box-shadow: 0px 6px 20px 0px #FC425A99;
}

.blackBtn {
  composes: btn;
  background-color: #000;
  box-shadow: none;
}

.frameContainer {
  width: 100%;
  max-width: 500px;
  height: 500px;
  border-radius: 24px;
  background-color: #FFF;
  position: relative;
  z-index: 10;
}

.frameContent {
  width: 100%;
  height: 100%;
  border-radius: 24px;
  background-color: #FFF;
  z-index: 10;
  position: relative;
  display: flex;
  flex-direction: column;
}

/* .frameContainer:before { */
/*   content: ""; */
/*   position: absolute; */
/*   display: block; */
/*   top: -80px; */
/*   left: -70px; */
/*   width: 449px; */
/*   height: 543px; */
/*   background-color: #FC425A; */
/*   opacity: 0.6; */
/*   /1* filter: blur(200px); *1/ */
/*   z-index: 1; */
/*   pointer-events: none; */
/* } */

/* .frameContainer:after { */
/*   content: ""; */
/*   position: absolute; */
/*   display: block; */
/*   top: -80px; */
/*   right: -70px; */
/*   width: 449px; */
/*   height: 543px; */
/*   background-color: #0094FF; */
/*   opacity: 0.6; */
/*   /1* filter: blur(200px); *1/ */
/*   z-index: 1; */
/*   pointer-events: none; */
/* } */

.framebackground {
  position: absolute;
  top: -150px;
}

.framebackground2 {
  position: absolute;
  top: -100px;
}

.framebackground3 {
  position: absolute;
  top: -100px;
}

.frametop {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 10px 20px rgba(102, 102, 102, 0.1);
}

.frametopHead {
  display: flex;
  align-items: center;
}

.frametopCorner {
  padding: 14px;
  width: 73px;
}

.frametopCenter {
  display: flex;
  flex: 1;
  justify-content: center;
}

.frametopTitle {
  color: #000;
  font-weight: 600;
  text-align: center;
  padding-bottom: 11px;
}

.framebottom {
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0px -10px 20px rgba(102, 102, 102, 0.1);
}

.framescroll {
  display: flex;
  flex: 1;
  width: 100%;
  overflow: auto hidden;
}

.fineprint {
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  font-weight: 600;
  font-size: 15px;
  margin-top: 12px;
}

.framescroller {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.peerRow {
  display: flex;
  align-items: center;
  padding: 8px 16px;
  font-size: 15px;
  font-weight: 600;
}

.peerHeading {
  display: flex;
  flex-direction: column;
  flex: 1;
  color: #000;
}

.peerData {
  color: rgba(0, 0, 0, 0.5);
}

.framelist {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.framelist li {
  display: flex;
  align-items: center;
  padding: 12px;
  width: 100%;
}

.listicon {
  font-size: 40px;
  margin-left: 8px;
  margin-right: 16px;
}

.itemmain {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
}

.itemmain h3 {
  font-size: 24px;
  font-weight: 600;
  color: #000;
}

.itemmain p {
  font-weight: 600;
  color: #808080;
  max-width: 240px;
}

.dropContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.dropContainer > .fineprint {
  max-width: 210px;
}

.successContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.successContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.successContent h2 {
  font-size: 30px;
  font-weight: 600;
  text-align: center;
}


@media (max-width: 767px) {

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sectionContent {
  flex-direction: column-reverse;
}

.sectionTitle {
  font-size: 3em;
  text-align: center;
}

.sectionSubtitle {
  text-align: center;
}

.sectionText {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.articleHeader {
  padding: 0 16px;
  font-size: 1.4em;
}

.articleItem {
  width: 100%;
}

.articleBody {
  padding: 0 16px;
}

.sectionCard {
  flex-direction: column-reverse;
}

.cardImg {
  height: 444px;
}
.sectionHero {
  padding-bottom: 120px;
}

.article {
  padding-top: 120px;
}

.backgroundLogo {
  display: none;
}
}

@media (max-width: 734px) {
  .background {
    width: 700px;
    height: 700px;
  }
}

.pageSkeleton {
  height: 100vh;
  width: 100vh;
}

.skeleton::after {
  content: "Loading...";
}

.skeleton {
  height: 100%;
  background-color: #eee;
  background-image: linear-gradient(90deg, #eee, #f5f5f5, #eee);
  background-size: 200px 100%;
  background-repeat: no-repeat;
  border-radius: 4px;
  display: block;
  line-height: 1;
  width: 100%;
  animation: shimmer 1.2s ease-in-out infinite;
  color: transparent;
  opacity: 0.4;
}

@keyframes shimmer {
  0% {
    background-position: -200px 0;
  }
  100% {
    background-position: calc(200px + 100%) 0;
  }
}
